$main-color: #ff4848;

*{
    margin: 0;
    padding: 0;
}
.title{
    background-color: $main-color;
    height: fit-content;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title h1{
    text-align: center;
    color: #fff;
}

.title .dialog-logo{
    background-color: transparent;
    color: #fff;
    border-style: outset;
    border-width: 3px;
    border-color: #fff;
    border-radius: 50%;
    width: fit-content;
    font-size: 35px;
    margin-left: 45%;
    margin-bottom: 20px;
}

.title .dialog-logo i{
    padding: 3px;
}
.content{
    background-color: #fff;
    padding-left: 100px;
    padding: 10px;
}