<div class="title">
  <div class="dialog-logo">
    <i class='bx bx-edit' ></i>
  </div>
  <h1> Nuevo Usuario</h1>
</div>

<div mat-dialog-content class="content">
  <form [formGroup]="formUser" (submit)="addOrEditUser()">
    <mat-form-field>
      <mat-label>Nombre: </mat-label>
      <input matInput type="text" formControlName="name">
      <mat-icon matSuffix><i class='bx bx-face' ></i></mat-icon>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Telefono: </mat-label>
      <input matInput type="text" formControlName="phone" [maxLength]="10" type="number">
      <mat-icon matSuffix><i class="bx bx-phone"></i></mat-icon>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Cedula: </mat-label>
      <input matInput type="text" formControlName="identification" [maxLength]="10" type="number">
      <mat-icon matSuffix><i class="bx bx-id-card"></i></mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Direccion: </mat-label>
      <input matInput type="text" formControlName="address">
      <mat-icon matSuffix><i class="bx bx-map"></i></mat-icon>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Email: </mat-label>
      <input matInput type="text" formControlName="email">
      <mat-icon matSuffix><i class='bx bx-envelope'></i></mat-icon>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Usuario: </mat-label>
      <input matInput type="text" formControlName="user">
      <mat-icon matSuffix><i class="bx bx-user"></i></mat-icon>
    </mat-form-field>
   
    <mat-form-field >
      <mat-label>Rol</mat-label>
      <mat-select disableRipple formControlName="role">
        <mat-option value="1"> Administrador</mat-option>
        <mat-option value="2"> Cliente</mat-option>
      </mat-select>
      <mat-icon matSuffix><i class='bx bx-briefcase' ></i></mat-icon>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Contraseña:</mat-label>
      <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    
    <button mat-raised-button  color="warn" type="button" (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="formUser.invalid">Guardar</button>

  </form> 
</div>
