<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<body>
  <mat-drawer-container class="SideDrawer" class="example-container">
    <mat-drawer #drawer mode="side" opened class="barraLateral">
      <div class="titleMenu">
        <div>MENU</div>
      </div>
      <a>
        <i class='bx bxs-book-reader'></i>
        <span class="enlaces_nombre">CLIENTE</span>
      </a>
      <a>
        <i class='bx bxs-book-reader'></i>
        <span class="enlaces_nombre">CLIENTE</span>
      </a>
      <a>
        <i class='bx bxs-book-reader'></i>
        <span class="enlaces_nombre">CLIENTE</span>
      </a>
      <a>
        <i class='bx bxs-book-reader'></i>
        <span class="enlaces_nombre">CLIENTE</span>
      </a>
    </mat-drawer>
    <mat-drawer-content>
      <p>BIENVENIDO !!</p>
    </mat-drawer-content>
  </mat-drawer-container>
</body>
