<body>
  <div class="container">
     <main #main>
        <div class="form signUp-form">
          <div class="userForm">
            <label for="user_email">Usuario</label>
            <input type="email" [(ngModel)]="username" id="user_email" placeholder="Usuario"/>

            <label for="user_password">Contraseña</label>
            <input type="password" [(ngModel)]="password" placeholder="Contraseña"/>

            <button (click)="login()">Ingresar</button>
          </div>
        </div>
     </main>
   </div>
</body>