<div class="container">
  <div class="form">
    <div class="login-logo">
      <img 
      src="http://www.clipartbest.com/cliparts/RcA/A5z/RcAA5zk4i.png" 
      width="250px">
      <div class="spinner">
        <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
      </div>
    </div>

    <div class="data">
      <div class="titulo">
        <label>Ingreso</label>
      </div>
      <div class="subtitulo">
        <label>Ingreso Prevencion Incendios</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Usuario" [(ngModel)]="username">
        <i class='bx bx-user' ></i>
      </div>
      <div class="input">
        <input type="password" placeholder="Contraseña" [(ngModel)]="password">
        <i class='bx bx-lock-alt'></i>
      </div>
      <div class="txt-recuperar">
        <label>Recuperar Contraseña</label>
      </div>
      <div class="footer">
        <button class="btnLogin" (click)="login()">
          Iniciar
          <i class='bx bxs-chevrons-right'></i>
        </button> <br>
        
        <label>Aun no tienes cuenta?<button class="btn-registrarse"  (click)="openRegister()">Registrate</button> </label>
      </div>
    </div>
  </div>
</div>