<body>
    <div class="all">
        <div class="toolbar">
            <div class="logo">
        
            </div>
            <div class="options">
                <div routerLink="Clientes" class="menu-item">
                    <i class='bx bxs-face'></i>
                    <button>Clientes</button>
                </div>
                <div  routerLink= "Digitadores" class="menu-item">
                    <i class='bx bxs-coin-stack'></i>
                    <button>Digitador</button>
                </div>
                <div routerLink="Supervisores" class="menu-item">
                    <i class='bx bxs-binoculars'></i>
                    <button>Supervisor</button>
                </div>
                <div routerLink= "Inspectores" class="menu-item">
                    <i class='bx bxs-book-open'></i>
                    <button>Inspector</button>
                </div>
                
                <div  routerLink= "Recaudadores" class="menu-item">
                    <i class='bx bxs-coin-stack'></i>
                    <button>Recaudación</button>
                </div>
                <div  routerLink= "Usuarios" class="menu-item">
                    <i class='bx bxs-user-circle'></i>
                    <button>Usuarios</button>
                </div>
            </div>
            <div class="user">
                <button [matMenuTriggerFor]="beforeMenu"></button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <div class="user-information">
                        <label>{{username}}</label> <br>
                        <label>{{rol}}</label>
                    </div>
                    <mat-divider></mat-divider>
                    <button routerLink="Perfiles" mat-menu-item >Perfil</button>
                    <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>
                </mat-menu>
            </div>
        </div>
        
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        
    </div>
    
    
</body>