body{
  background-color: #fff;
}
.all{
  display: flex;
  flex-direction: row;
}
.container{
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.text{
  margin-bottom: 30px;
  font-size: 35px;
}

