<body>
    <div class="all">

        <div class="toolbar">
            <div class="logo">
            </div>
            <div class="options">
                <div><button routerLink="Home">Inicio</button></div>
                <div><button routerLink="Permission">Permisos</button></div>
                <div><button>Inspecciones</button></div>
            </div>
            <div class="user">
                <button [matMenuTriggerFor]="beforeMenu"></button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <div class="user-information">
                        <label>{{username}}</label> <br>
                        <label>{{rol}}</label>
                    </div>
                    <mat-divider></mat-divider>
                    <button routerLink="Perfiles" mat-menu-item >Perfil</button>
                    <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>
                </mat-menu>
            </div>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>