<div class="container">
    <div class="header">
        <h1>Perfil Usuario</h1>
       
    </div>

    <div class="data">
        
        <div class="info">
          
            <div class="profile">
                
            </div>
            <div class="info-data">
                <label> {{username}} </label>
            </div>
            <div class="info-data">
                <label> {{role}}</label>
            </div>
            
        </div>
    
        <div class="profile-data">
            <h2>Datos</h2>
            <div class="table">
                <div class="colum">
                    <div class="row">
                        <b><label>Cedula: </label></b>
                        <label>{{identification}}</label>
                        
                    </div>
                    <div class="row">
                        <b><label>Nombres: </label></b>
                        <label>{{name}} </label>
                        <i class='bx bxs-edit-alt' (click)="openInputDialog('Ingrese la nueva cedula','Cedula')"></i>
                    </div>
                    <div class="row">
                        <b><label>Apellidos: </label></b>
                        <label>{{lastname}}</label>
                        <i class='bx bxs-edit-alt'></i>
                    </div>
                    
                   
                </div>
                
                <div class="colum">
                    <div class="row">
                        <b><label>Dirección: </label></b>
                        <label>{{address}} </label>
                        <i class='bx bxs-edit-alt'></i>
                    </div>
                    <div class="row">
                        <b><label>Email: </label></b>
                        <label>{{email}}</label>
                        <i class='bx bxs-edit-alt'></i>
                    </div>
                    <div class="row">
                        <b><label>Teléfono: </label></b>
                        <label>{{phone}}</label>
                        <i class='bx bxs-edit-alt'></i>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
