$main-bg-color: #ffffff;
$shadow-color: 0 0 10px #949494;

.container{
    margin: 70px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.header{
    background: $main-bg-color;
    width: 100%;
    height: 15%;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    box-shadow: $shadow-color;
}
.data{
    height: 75%;
    display: flex;
    flex-direction: row;
}
.info{
    background: $main-bg-color;
    width: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-color;
}

.profile-data{
    background: $main-bg-color;
    width: 70%;
    margin-left: 20px;
    padding: 15px;
    box-shadow: $shadow-color;
}

.profile{
    background-image: url("https://cdn2.iconfinder.com/data/icons/social-media-flat-line/70/user-512.png");
    background-size:contain; 
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 50%;
    margin-bottom: 30px;
}

.info .info-data{
    font-size: 20px;
    margin-bottom: 10px;
}

.table{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.colum{
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
}

.row{
    margin-bottom: 30px;
}