<div class="container">
    <div class="header">
        <h1>Perfil Usuario</h1>
    </div>

    <div class="data">
        <div class="info">
            <div class="profile">
                
            </div>
            <div class="info-data"> 
                <label> USERNAME </label>
            </div>
            <div class="info-data">
                <label> TIPO </label>
            </div>
            <div class="info-data">
                <label> EMAIL </label>
            </div>
        </div>
    
        <div class="profile-data">
            <h2>Datos</h2>
            <mat-divider></mat-divider>
            <div class="table">
                <div class="colum">
                    <div class="row">
                        <label>Cedula: </label>
                        <label> 1234567890</label>
                    </div>
                    <div class="row">
                        <label>Nombre: </label>
                        <label> Adrian Reyes</label>
                    </div>
                    <div class="row">
                        <label>Direccion: </label>
                    </div>
                    <div class="row">
                        <label>Telefono: </label>
                    </div>
                </div>
                <div class="colum">
                    <div class="row">
                        <label>Rol: </label>
                    </div>
                    <div class="row">
                        <label>Usuario: </label>
                    </div>
                    <div class="row">
                        <label>Contraseña: </label>
                    </div>
                    <div class="row">
                        <label>Email: </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
