<div class="container">
  <div class="form">
    <div class="login-logo">
      <img 
      src="/assets/Escudo.png" 
      width="250px">
      
      <div class="spinner">
      </div>
      
    </div>

    <div class="data">
      <div [formGroup]="formUser"> 
        
        <div class="titulo">
          <label>Nuevo Usuario</label>
        </div>

        <div class="subtitulo">
          <label>Ingrese Nuevo Cliente</label>
        </div>

        <div class="input">
          <input type="number" placeholder="Cedula" formControlName="identification">
          <i class='bx bx-id-card'></i>
        </div>

        <div class="input">
          <input type="text" placeholder="Email" formControlName="email" >
          <i class='bx bx-envelope'></i>
        </div>

        <div class="input">
          <input type="password" placeholder="Contraseña" formControlName="password">
          <i class='bx bx-lock-alt'></i>
        </div>

        <div class="checkbox">
          <input type="number" placeholder="RUC">
          <input type="checkbox" name="RUC">
          <i class='bx bx-receipt'></i>
          <div class="label">
            <label for="RUC">Cuenta con RUC?</label>
          </div>
        </div>
        

        <div class="footer">
          
          <button type ="button" class="btnLogin" [disabled]="formUser.invalid"  (click)="addUserService()">Registrarse</button>
          
          <div>
            <label>Ya tienes cuenta?<button class="btn-registrarse"  (click)="returnLogin()">Iniciar Sesión</button> </label>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
