<div class="ubicationForm">

  <div class="mapForm">
    
    <div class="input">
      <label>Parroquia:</label>
      <select name="address" [(ngModel)]="sector" (ngModelChange)="selectSector()">
        <option [ngValue]="element" *ngFor="let element of parroquias" >{{element}}</option>
      </select>
    </div>

    <div class="input">
      <label>Referencia:</label>
      <input placeholder="Referencia Direccion">
    </div>
  </div>

  <div class="mapContainer">
    <google-map height="400px"
                width="750px"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="addMarker($event)"
                (mapMousemove)="move($event)" >
                <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"
                (mapMouseover)="openInfoWindow(marker)"> </map-marker>
                <map-info-window>
                  <div>Latitud: {{lati}}</div>
                  <div>Longitud: {{long}}</div>
                </map-info-window>
    </google-map>
  </div>

</div>