<div class="toolbar">
    <div class="logo">

    </div>
    <div class="options">
        <div><button>Inicio</button></div>
        <div><button>Locales</button></div>
        <div><button>Inspecciones</button></div>
    </div>
    <div class="user">
        <button (click)="logOut()">Us</button>
    </div>
</div>
<div class="container">
    <div class="text">
        <h1>CLIENTE</h1>
    </div>
    <div class="image">
        <img src="https://static.pratique.fr/images/unsized/tr/trouver-fichiers-clients.jpg" 
        alt=""
        width="400px">
    </div>

</div>
