<div >
  <div id="title">
    <h1>Seguimiento de su Trámite</h1>
</div>

<mat-tab-group class="ini">
  <mat-tab label="Trámite en Curso" > 
    <div class="content">
      <mat-accordion>
          <mat-expansion-panel [expanded]="true" *ngFor="let history of listHistory">
            <mat-expansion-panel-header>

              <mat-panel-title>
                <p>
                  <b>{{history.Accion}}</b>
                </p>
              </mat-panel-title>

              <mat-panel-description>{{history.Fecha}}</mat-panel-description>

            </mat-expansion-panel-header>

            <p class="text">{{history.Descripcion}}</p>  

          </mat-expansion-panel >

      </mat-accordion>
      </div>
  </mat-tab>
  <mat-tab label="Tramites" >
    <p>Permiso 2022-12-01</p>
    <p>Permiso 2022-12-01</p>
  </mat-tab>
</mat-tab-group>
