<div id="title">
    <h1>Agenda de Inspecciones</h1>
</div>

<div class="wrapper-calendar">
	<div class="header-calendar">
		<div>
			<button (click)="changeMonth(-1)" class="btn-prev">
				<
			</button>
		</div>
		<h1>{{this.dateSelect.format('MMMM')+' '+this.dateSelect.format('yyyy')}}</h1>
		<div>
			<button (click)="changeMonth(1)" class="btn-next">
				>
			</button>
		</div>
	</div>
	<ol>
		<li *ngFor="let day of weekDays" class="day-name">{{day | slice:0:3}}</li>

		<li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
		*ngFor="let day of monthSelect;let first = first" [ngStyle]="{'color': colorDay(day)}">
			
			<span [ngStyle]="{'background-color': backgroundDay(day)}">{{day?.value}}</span>
			
		</li>
	</ol>
</div>
