<div class="loader-container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
<div id="title">
    <h1>Usuarios</h1>
</div>

<div id="form-container">
    <div class="container">
        <input type="text" [(ngModel)]="search" name="example" placeholder="Buscar" (keyup)="searchUser()">
        <button class="btn" (click)="searchUser()">
            <i class='bx bx-search-alt-2' ></i>
        </button>
    </div>
    <div class="newClientbtn">
        <i class='bx bx-plus' (click)="openDialogAddUser()"></i>
    </div>
</div>

<div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef > Cedula </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.cedula}}</td>
        </ng-container>

        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.usuario1}}</td>
        </ng-container>

        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.idRolNavigation.tipo}}</td>
        </ng-container>

        <ng-container matColumnDef="Rol">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Rol </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.idRol}}</td>
            </ng-container>

        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef > Email </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef > Dirección </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.direccion}}</td>
        </ng-container>

        <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element" class="element"> {{element.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;" class="element">
                <i class='bx bx-edit' id="edit-detail" (click)="openDialogUpdateUser(element)"></i>
                <i class='bx bx-x-circle' id="delete-detail"(click)="openDialog('1000ms', '500ms',element.id)"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" ></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]"
        showFirstLastButtons
        aria-label="Select page">
    </mat-paginator>
</div>

