$main-bg-color: #D67D3E;

.content{
    background-color: rgb(66, 66, 66);
    color: #fff;
    display: flex;
    padding: 5px;
    flex-direction: column;
    border-radius: 15px;

}

.button{
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    display: flex;
    flex-direction: row;
    margin: 6px;
    padding: 7px;
<<<<<<< HEAD
    height: 18%;
=======
>>>>>>> e931a55c5d3211b98836c759b185cab81c00addd
    width: 95%;
    border-radius: 5px;

    .image-cont{
        padding: 10px;
        border-radius: 50%;
        transition-property: border-radius,background-color;
        transition-duration: 0.5s;
        width: 15%;
        background-color: #ffaf77;

        .image{
            width: 90px;
            height: 100%;
            background-size:contain;
            background-repeat: no-repeat;
        }
    }

    .text{
        width: 80%;
        margin-left: 10px;
        font-weight: bolder;

        .description{
            font-size: 12px;
            font-weight: lighter;
        }
    }

    #img1{
        background-image: 
        url(/assets/Extinguisher.png);
    }
    #img2{
        background-image: 
        url(/assets/Flamming-Car.png);
    }
    
    #img3{
        background-image: 
        url(/assets/Flamming-House.png);
    }
    
    #img4{
        background-image: 
        url(/assets/Ubication.png);
    }
    

}

.button:hover{
    background-color: $main-bg-color;
    color: #fff;
    box-shadow: 0 0 12px #9a9a9aeb;
    
    .image-cont{
        border-radius: 0;
        background-color: transparent;
    }
}

.content::-webkit-scrollbar-thumb{
background-color: #252525;
}
  
.content::-webkit-scrollbar{
width: 8px;
}
  
::-webkit-scrollbar-track-piece{
background-color: #fff;
}
  
::-webkit-scrollbar-button{
background-color: #252525;
}
