<div class="content">
    
    <div class="button" (click)="open('/Cliente/PermisosFuncionamiento')">
        <div class="image-cont">
            <div class="image" id="img1">
            </div>
        </div>
        <div class="text">
            <p> Permiso de funcionamiento anuales y ocasionales</p> 
            <div class="description">
                <p>Es la autorización que el Cuerpo de Bomberos
                    emite a todo local comercial y tendrá vigencia de un año calendario, (1 de enero al 31 de diciembre) 
                    exceptuando los permisos ocasionales.</p>
            </div>
        </div>
    </div>
    <div class="button" (click)="open('/Cliente/PlansApproval')">
        <div class="image-cont">
            <div class="image" id="img4">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Es la autorización administrativa que el Cuerpo de Bomberos otorga
                    luego de revisar, verificar y aprobar el cumplimiento de los requisitos del Sistema de Protección 
                    contra Incendios, en los planos EE previo la iniciación de la construcción de la edificación.
                    </p>
            </div>
        </div>
    </div>

    <div class="button" (click)="open('/Cliente/OccupancyPermission')">
        <div class="image-cont">
            <div class="image" id="img3">
            </div>
        </div>
        <div class="text">
            <p> Permisos ocupación y habitabilidad</p> 
            <div class="description">
                <p>Es la autorización administrativa que el Cuerpo de Bomberos otorga a las edificaciones nuevas luego de realizar la verificación de
                    los sistemas de prevención de incendios instalados en conformidad con los planos aprobados en el proceso de Visto Bueno.</p>
            </div>
        </div>
    </div>

    <div class="button" (click)="open('/Cliente/GlpPermission')">
        <div class="image-cont">
            <div class="image" id="img2">
            </div>
        </div>
        <div class="text">
            <p> Permisos factibilidad de GLP</p> 
            <div class="description">
                <p>Es la autorización administrativa que el Cuerpo de Bomberos otorga luego de verificar en planos y memoria 
                    técnica que el diseño del sistema centralizado de GLP/GNL cumpla los requisitos técnicos y las medidas 
                    de seguridad conforme a la normativa vigente previo a su instalación.</p>
            </div>
        </div>
    </div>
    
    <div class="button" (click)="open('/Cliente/GlpDefinitive')">
        <div class="image-cont">
            <div class="image" id="img2">
            </div>
        </div>
        <div class="text">
            <p> Permiso definitivo de GLP</p> 
            <div class="description">
                <p> Es la autorización que el Cuerpo de Bomberos otorga luego de verificar mediante inspección 
                    que los Sistemas Centralizados de GLP/GNL instalados, cumplan los requisitos técnicos de diseño 
                    y construcción, de acuerdo con la normativa vigente de los locales comerciales, residenciales e industriales.</p>
            </div>
        </div>
    </div>

</div>
