<div class="content">
    
    <div class="button">
        <div class="image" id="img1">
        </div>
        <b> <p> Permiso de visto bueno</p> </b>
    </div>
    <div class="button">
        <div class="image" id="img2">
        </div>
        <b> <p> Permiso visto bueno de planos</p> </b>
    </div>

    <div class="button">
        <div class="image" id="img3">
        </div>
        <b> <p> Permiso visto bueno de planos</p> </b>
    </div>
    <div class="button">
        <div class="image" id="img4">
        </div>
        <b> <p> Permiso visto bueno de planos</p> </b>
    </div>
    <div class="button">
        <div class="image" id="img3">
        </div>
        <b> <p> Permiso visto bueno de planos</p> </b>
    </div>

</div>
