<div class="content">
    
    <div class="button">
        <div class="image-cont">
            <div class="image" id="img1">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sequi quae ad suscipit nesciunt quas voluptates impedit, ipsum vel assumenda et laudantium nobis. Praesentium consequatur, neque atque laudantium rerum quo.</p>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="image-cont">
            <div class="image" id="img2">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sequi quae ad suscipit nesciunt quas voluptates impedit, ipsum vel assumenda et laudantium nobis. Praesentium consequatur, neque atque laudantium rerum quo.</p>
            </div>
        </div>
    </div>

    <div class="button">
        <div class="image-cont">
            <div class="image" id="img3">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sequi quae ad suscipit nesciunt quas voluptates impedit, ipsum vel assumenda et laudantium nobis. Praesentium consequatur, neque atque laudantium rerum quo.</p>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="image-cont">
            <div class="image" id="img4">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sequi quae ad suscipit nesciunt quas voluptates impedit, ipsum vel assumenda et laudantium nobis. Praesentium consequatur, neque atque laudantium rerum quo.</p>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="image-cont">
            <div class="image" id="img3">
            </div>
        </div>
        <div class="text">
            <p> Permiso visto bueno de planos</p> 
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sequi quae ad suscipit nesciunt quas voluptates impedit, ipsum vel assumenda et laudantium nobis. Praesentium consequatur, neque atque laudantium rerum quo.</p>
            </div>
        </div>
    </div>

</div>
