$main-bg-color: #00aec1dd;

.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}

.button{
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    display: flex;
    flex-direction: row;
    margin: 6px;
    padding: 7px;
    width: 95%;
    box-shadow: 0 0 3px #272727eb;
    border-radius: 5px;

    .image-cont{
        padding: 10px;
        border-radius: 50%;
        transition-property: border-radius,background-color;
        transition-duration: 0.5s;
        width: 15%;
        background-color: #50dcec;

        .image{
            width: 90px;
            height: 100%;
            background-size:contain;
            background-repeat: no-repeat;
        }
    }

    .text{
        width: 80%;
        margin-left: 10px;
        font-weight: bolder;

        .description{
            font-size: 12px;
            font-weight: lighter;
        }
    }


    #img1{
        background-image: 
        url(/assets/1.png);
    }
    #img2{
        background-image: 
        url(/assets/2.png);
    }
    
    #img3{
        background-image: 
        url(/assets/3.png);
    }
    
    #img4{
        background-image: 
        url(/assets/4.png);
    }
    

}

.button:hover{
    background-color: $main-bg-color;
    color: #fff;
    box-shadow: 0 0 20px #272727eb;
    
    .image-cont{
        border-radius: 0;
        background-color: transparent;
    }
}
