<div class="content">

<div id="title">
  <h1>Solicitud de Inspección</h1>
</div>

  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informativo</ng-template>
        <div class="dis">
            <div id="subtitle">
                <h1>PERMISO DE ESTABLECIMIENTO POR PRIMERA VEZ</h1>
            </div>
            <div class ="content">
                    Requisitos Obligatorios: 
                    <ul>
                    <li> Certificado de Establecimiento (SRI) </li>
                    <li>Predio Urbano Cancelado del Año actual. </li>
                    <li> Foto de la fachada del establecimiento, en formato JPG,PNG.    </li>
                    <li> Para personas Naturales: cédula y certificado de votación.</li>
                    <li> En el caso que su establecimiento posea Calificación Artesanal, deberá adjuntarlo.</li>
                    <li> Para personas Jurídicas: cédula, certificado de votación del representante 
                    legal y el nombramiento que lo acredite como representante de la empresa.</li>
                    </ul>
           </div>
        </div>
        <button mat-button matStepperNext class="mat">Siguiente</button>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Datos">
      <form [formGroup]="secondFormGroup">
        <div class="disOption">
          <div class="options">
            <label>Ruc del Cliente:</label>
            <input placeholder="18030XXXXX001">
          </div>
          <div class="options">
            <label>Razón Social (Si aplica):</label>
            <input placeholder="CORPORACIÓN CIA.LTDA">
          </div>
          <div class="options">
            <label>Nombre comercial (Si aplica):</label>
            <input placeholder="SUPERVENTAS">
          </div>
          <div class="options">
            <label>Representante Legal, como consta en el RUC:</label>
            <input placeholder="SALVATIERRA JONAS JUAN ALEXANDER">
          </div>
          <div class="options">
            <label>Actividad Económica, como consta en el RUC:</label>
            <input placeholder="VENTA AL POR MENOR DE MATERIAL DE ZAPATERÍA(PLANTILLAS,TALONERAS,SUELA Y ARTÍCULOS ANÁLOGOS) EN ESTABLECIEMIENTOS ESPECIALIZADOS">
          </div>
          <div class="options">
            <label>Teléfono Móvil:</label>
            <input placeholder="09XXXXXXXX">
          </div>
          <div class="options">
            <label>Correo Electrónico del propietario del local :</label>
            <input placeholder="JUAN@HOTMAIL.COM">
          </div>
        
        </div>
        <div>
          <button mat-button matStepperPrevious class="mat">Anterior</button>
          <button mat-button matStepperNext class="mat">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Ubicación">
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                  required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Documentos</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>