$main-bg-color: #F0F0F0;

#title{
    text-align: center;
    padding: 20px;
}

#subtitle{
  text-align: center;
  padding: 30px;
  font-size: 9px;

}

.infoForm{
  background: $main-bg-color;
  margin: 0 250px 0 250px;
  padding: 0 200px 0 200px;
  height: 400px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.actions{
  justify-content: right;
  align-items: center; 
  display: flex;
  margin-top: 20px;
  
  .btnNext{
    background-color: rgb(59, 59, 203);
    color: #fff;
    margin-left: 15px;
  }

  .btnBack{
    background-color: rgb(252, 109, 109);
    color: #fff;
  }
}

.dataForm{
  background: $main-bg-color;
  margin: 0 130px 0 130px;
  padding: 30px 100px 0 100px;
  height: 400px;
}
.options{
  padding: 0.5px;

  input{
    width: 500px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
  }
  
}

.ubicationForm{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mapContainer{
  display: flex;
  justify-content: center;
  width: fit-content;
}

.mapForm{
  background: $main-bg-color;
  height: 400px;
  width: 50%;
  margin-right: 30px;
}

label{
  display: inline-block;
  width: 400px;
  text-align: right;
  margin-right: 40px;
}



