.bodyContainer{
  background-color: #7B7B7B;
  background-image: url("https://media.primicias.ec/2022/05/20163456/portada-B-1024x574.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.logo{
  background-image: url("/assets/Shield.png");
  background-size:contain; 
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  padding-left: 15px;
  width: 5%;
}

.toolbar{
  background-color: #252525f3;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  z-index: 10px;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 1px #ffffff;
}

.options{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 50px;
  justify-content: left;
  align-items: center;
  width: 90%;

  i{
    display: none;
    color: #929292;
  }

  i:hover{
    color: #fff;
  }

  button{
    border: none;
    border-radius: 5px 5px 0 0;
    color: rgb(202, 202, 202);
    background-color: transparent;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    transition-property: background-color,color;
    transition-duration: 0.5s;
  }

  button:hover{
    color: #252525eb;
    background-color: #fff;
  }

}

.user {
  height: 90%;
  width: 50px;

  button{
    border: none;
    margin-top: 7px;
    padding: 10px;
    border-radius: 50%;
    background-image: url("https://cdn2.iconfinder.com/data/icons/social-media-flat-line/70/user-512.png");
    background-size:contain;
    background-position: center;
    height: 40px;
    width: 40px;
  }

  button:hover{
    background-color: rgb(161, 161, 161);
  }
}

.user-information{
  padding: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #252525;
}

body::-webkit-scrollbar{
  width: 8px;
}

body::-webkit-scrollbar-track-piece{
  background-color: #fff;
}

body::-webkit-scrollbar-button{
  background-color: #252525;
}

.no-padding-dialog .mat-dialog-container {   
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .options button{
    display: none;
  }
  
  .options i{
    display:contents;
    font-size: 30px;
  }

  .menu-item{
    margin: 0 20px 0 20px;
  }

  .options{
    justify-content: center;
  }

}   

html, body { height: 100%; }
body { margin: 0; font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif; }
