.bodyContainer{
  background-color: #002B5B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%232b4865' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23256d85' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23326581' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23338497' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%233d849a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23449ba7' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%234fa4b0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235ab3b6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236bc3c1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2373cbc3' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238fe3cf' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238fe3cf' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
