<div class="title">
    <i class='bx bx-x-circle' (click)="Cerrar()"></i>
    <h1> Registro de Usuario </h1>
    
   
 </div>
  
  <div  class="content">
       
    <p>Antes de registrarse, por favor lea el acuerdo.</p><br>
    
    <p><b>ACUERDO DE RESPONSABILIDAD Y CONDICIONES DEL USO DE MEDIOS ELECTRÓNICOS DEL CUERPO DE BOMBEROS DE AMBATO</b></p><br>

    <p>El Cuerpo de Bomberos de Ambato y el usuario solicitante del servicio, celebran el presente acuerdo de uso de medios 
        electrónicos que el CBA ofrece a través de Internet, el cual se regirá por las siguientes responsabilidades y condiciones:</p><br>

        <div  class="texto">
       <p><b> Responsabilidades de los usuarios y condiciones de uso de medios electrónicos</b></p><br>
       
        <ul>
            <li>El usuario declara bajo juramento que asume la responsabilidad total del uso, tanto de la clave de usuario, 
                así como de la veracidad de la información ingresada y la utilización de los servicios que el CBA ponga a su 
                disposición a través de medios electrónicos.</li>
            <li>Todas las transacciones realizadas a través de medios electrónicos se garantizan mediante la clave de acceso del usuario, 
                la misma que equivale a su firma autógrafa, de la cual se derivarán todas las responsabilidades de carácter civil, 
                penal y tributario de conformidad a lo dispuesto en la “Ley de Comercio Electrónico, Firmas Electrónicas y Mensajes de Datos”.</li>
            <li>En base al principio de libertad tecnológica estipulado en el precitado cuerpo legal, las partes acuerdan que la clave 
                (password) proporcionada por el Cuerpo de Bomberos de Ambato al usuario, surtirá los mismos efectos que una 
                firma electrónica, por lo que, tanto su funcionamiento como su aplicación se entenderán como una completa equivalencia funcional, 
                técnica y jurídica.</li>
            <li>El usuario se compromete a no facilitar la identificación de usuario y la clave de acceso a terceras personas; 
                en caso de incumplimiento de este compromiso, el usuario asumirá las posibles responsabilidades y perjuicios que 
                se deriven del mal uso de la misma.</li>
            <li>El usuario autoriza al CBA a no atender las peticiones cursadas, cualquiera que sea su naturaleza, cuando tenga dudas razonables
                 sobre la identidad de la persona que las emite.</li>
            <li>El CBA se reserva el derecho de verificar la autenticidad de la información y documentos ingresados, así como las acciones legales
                 a que hubiere lugar, en caso de adulteración de dichos documentos o falsedad de la información ingresada, según las leyes vigentes.</li>
            <li>El usuario declara que la dirección de correo electrónico registrada en su cuenta, es el medio autorizado para recibir comunicaciones,
                 requerimientos de información y notificaciones administrativas derivadas del presente acuerdo.</li>
            <li>El usuario se compromete expresamente a abstenerse de llevar a cabo cualquiera de las actividades siguientes:</li>
        </ul> <br>


        <ol style="list-style-type: lower-latin" >
            <li>Destruir, alterar, inutilizar o de cualquier otra forma dañar los datos o documentos electrónicos del CBA, de otras administraciones
                 públicas cuyos contenidos estén incluidos en el Portal o de terceros.</li><br>
            <li>Obstaculizar el acceso de otros usuarios o de las administraciones públicas al portal y a sus servicios mediante el consumo masivo de
                 los recursos informáticos, a través de los cuales el CBA presta sus servicios, así como realizar actuaciones susceptibles de estropear, 
                 interrumpir o generar errores en estos sistemas.</li><br>
            <li>Utilizar el sistema para intentar acceder a áreas restringidas de los sistemas informáticos del CBA o de terceros.</li><br>
            <li>Intentar aumentar el nivel de privilegios de un usuario en el sistema.</li><br>
            <li>Introducir, por cualquier medio, programas, virus, macros, applets, controles ActiveX o cualquier otro dispositivo lógico o secuencia de caracteres que causen o sean susceptibles de causar 
                cualquier tipo de alteración en los sistemas informáticos del CBA, de otros usuarios, de las administraciones públicas o de terceros.</li><br>
            <li>Suplantar la identidad de otro usuario, de las administraciones públicas o de un tercero.</li><br>
            <li>Incorporar, poner a disposición o permitir el acceso a productos, elementos, mensajes o servicios delictivos, violentos, pornográficos, ofensivos o, en general, contrarios a la ley, a la moral
                 o al orden público.</li><br>
            <li>Vulnerar los derechos de propiedad intelectual del Cuerpo de Bomberos de Ambato, de los autores de los contenidos o de 
                terceras personas.</li><br>
            <li>Violar la confidencialidad de la información o los secretos empresariales de terceros.</li>
        </ol><br>

    <p><b> Restricción de responsabilidad del Cuerpo de Bomberos de Ambato</b></p><br>

        <ul>
            <li>La entidad no será responsable por las pérdidas o daños sufridos por el usuario por causa de terceros
                 o fallas tecnológicas bajo responsabilidad del mismo o de terceros.</li>
            <li>La entidad no se responsabiliza por la exactitud, veracidad, contenido o por cualquier error en la 
                información proporcionada por el usuario, sea que se trate de errores humanos o tecnológicos.</li>
            <li>El usuario declara la dirección de correo electrónico registrada en su cuenta como el medio autorizado 
                para recibir comunicaciones, requerimientos de información y notificaciones administrativas derivadas del presente acuerdo.</li>
        </ul><br>

    <p><b>Aceptación</b></p><br>

        <ul>
            <li>El acceso y utilización del Portal Web atribuye la condición de usuario del mismo, y presupone la previa lectura y aceptación del 
                presente acuerdo. Con el acceso y utilización del Portal Web se entenderá que el usuario acepta los términos por su propia iniciativa,
                 de forma expresa, plena, sin reservas, y se somete voluntariamente a lo aquí estipulado.</li>
            <li>El usuario acepta la validez de este acuerdo, de la clave de usuario que se le proporciona, así como de la información que envíe
                 a la Administración haciendo uso de los sistemas o medios electrónicos que el Cuerpo de Bomberos de Ambato ponga 
                 a su disposición.</li>
        </ul><br>
    <p><b>Duración / rescisión</b></p><br>

       <ul>
            <li>La duración de este acuerdo es por tiempo indefinido, siempre y cuando el usuario lo considere así, el CBA se reserva
                 la potestad de rescindir este acuerdo o de rehacer uno nuevo cuando el usuario no cumpla las cláusulas que en él se 
                 especifican.</li>
            <li>Tanto el usuario como el CBA podrán rescindir el acuerdo, por mutuo consentimiento o de manera unilateral por 
                cualquiera de las dos partes, mediante comunicación escrita.</li>
            <li>Todas las operaciones ordenadas con anterioridad a la rescisión, tendrán valor legal
                 y vigencia hasta la total finalización de los trámites de éstas.</li>
            <li>El CBA podrá interrumpir la prestación del servicio temporal o definitivamente, en caso de producirse modificaciones
                 relevantes en la situación de los usuarios del servicio, o si observa incumplimiento de las normas de uso del mismo.</li>
            <li>El CBA se reserva el derecho de modificar las condiciones del servicio, el periodo, y los procedimientos técnicos de
                 identificación y validación de los datos transmitidos, de acuerdo con sus necesidades.</li>
            <li>La no aceptación de estas modificaciones por parte de los usuarios del servicio supondrá la rescisión anticipada del
                 servicio objeto de la presente normativa.</li>
       </ul>

       </div>
       <div class="checkbox" >
        <input type="checkbox" id="Aceptar"[(ngModel)]="ischeck">
          <label for="Aceptar">He leído el acuerdo y acepto los términos y condiciones.</label>
      </div>
      <div class="actions">
        <button [disabled]="!ischeck" mat-raised-button color="primary" type="submit" [mat-dialog-close]="true">Aceptar</button>
      </div>
  
    
        
  </div>
  