$main-color: #ff4848;


table{
    width: 100%;
    border-color: transparent;
    color: #fff;
}


.emptyList{
    display: flex;
    justify-content: center;

    p{
        margin: 10% 0 10% 0;
        font-size: 22px;
    }
}

#title{
    text-align: center;
    padding: 20px;
}

.loader-container{
    position: fixed;
    width: 100%;
    z-index: 99;
}

#form-container{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    left: 10%;
}

input{
    background-color: rgb(240, 240, 240);
    width: 85%;
    font-size: 20px;
    outline: none;
    border: none;
}

.btn{
    border-radius: 50%;
    border-style: none;
    height: 40px;
    width: 15%;
    background-color: $main-color;
    color:#fff
}

.btn i{
    border-radius: 50%;
    border-style: none;
    font-size: 20px;
    background-color: $main-color;
}

.mat-cell{
    button{
        border: none;
        background-color:#4a6791;
        padding: 7%;
        border-radius: 5px;
        color: #fff;
    }

    button:disabled, button:hover:disabled{
        background-color:#9391916a;
    }

    button:hover{
        background-color:#6685b1;
    }

    i{
        font-size: 25px;
        color: #4a6791;
    }

    i:hover{
        transform: scale(1.3);
        color: #91c16e;
    }
}