<div class="loader-container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>

<div id="title">
    <h1>Permisos</h1>
</div>

<div id="form-container">
    <div class="container">
        <input type="text" [(ngModel)]="search" name="example" placeholder="Buscar" (keyup)="startSearch()">
        <button class="btn" (click)="startSearch()">
            <i class='bx bx-search-alt-2' ></i>
        </button>
    </div>
</div>

<div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element" class="element"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" ></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]"
                    showFirstLastButtons
                    aria-label="Select page">
    </mat-paginator>

    <app-map-module></app-map-module>
</div>