<div class="content"> 
    <div class="page">
        <div class="title">
            <h1>Solicitud Permiso de Funcionamiento</h1>
            <h2>Cuerpo de Bomberos de Ambato </h2>
        </div><br>
        
        <h3 class="h3">1. Datos Informativos:</h3>
        <div class="dataForm">

          <div class="input">
            <label>Ruc del Cliente :</label>
            <label>1805308895</label>
          </div>

          <div class="input">
            <label>Razón Social :</label>
            <label>{{permission.idLocNavigation.razonSocial}}</label>
          </div>

          <div class="input">
            <label>Nombre comercial :</label>
            <label>{{permission.idLocNavigation.nombre}}</label>
          </div>

          <div class="input">
            <label class="is-required">Representante Legal :</label>
            <label> SALVATIERRA JONAS JUAN ALEXANDER  </label>
          </div>

          <div class="input">
            <label class="is-required">Actividad Económica :</label>
            <label>{{permission.actividadEconomica}}</label>
          </div>

          <div class="input">
            <label>Teléfono Móvil :</label>
            <label>0998765619</label>
          </div>

          <div class="input">
            <label>Correo Electrónico :</label>
            <label>JUAN@HOTMAIL.COM</label>
          </div>

        </div>
        
        <h3 class="h3">2. Datos de Ubicación:</h3>

        <div class="dataForm">
        <div class="input">
          <label>Latitud:</label>
          <label>{{permission.idLocNavigation.coordernadaX}}</label>
        </div>
        
        <div class="input">
          <label>Longitud:</label>
          <label>{{permission.idLocNavigation.coordenadaY}}</label>
        </div>
      </div>
      <h3 class="h3">3. Documentos:</h3>

    <div class="dataForm">

      <div class="input">
          <label>Copia del Ruc:</label>
          <i class='bx bxs-file-pdf'></i> 
          <label>ruc.pdf</label>
        </div>
      <div class="input">
          <label>Copia del Predio:</label>
          <i class='bx bxs-file-pdf'></i>
          <label>predio.pdf</label>
      </div>
      <div class="input">
        <label>Foto fachada:</label>
        <i class='bx bxs-file-pdf'></i>
        <label>foto.pdf</label>
      </div>
        

    </div>
    </div>
</div>