<div class="content"> 
    <div class="page">
        <div class="title">
            <h1>Solicitud Permiso de Funcionamiento</h1>
            <h2>Cuerpo de Bomberos de Ambato </h2>
        </div><br>
        
        <h3 class="h3">1. Datos Informativos:</h3>
        <div class="dataForm">

          <div class="input">
            <label>Ruc del Cliente:</label>
            <input placeholder="1805308895001" formControlName="ruc"  readonly>
          </div>

           <div class="input">
            <label>Razón Social (Si aplica):</label>
            <input placeholder="CORPORACIÓN CIA.LTDA" formControlName = "socialReason" >
           </div>

          <div class="input">
            <label>Nombre comercial (Si aplica):</label>
            <input 
            placeholder="SUPERVENTAS"
            formControlName="name">
          </div>

          <div class="input">
            <label class="is-required">Representante Legal, como consta en el RUC:</label>
            <input placeholder="SALVATIERRA JONAS JUAN ALEXANDER" formControlName="completeName">
          </div>

          <div class="input">
            <label class="is-required">Actividad Económica, como consta en el RUC:</label>
            <textarea placeholder="VENTA AL POR MENOR DE MATERIAL DE ZAPATERÍA" formControlName="economicActivity" required></textarea>
          </div>

          <div class="input">
            <label>Teléfono Móvil:</label>
            <input placeholder="09XXXXXXXX" formControlName="phone" >
          </div>

          <div class="input">
            <label>Correo Electrónico del propietario del local :</label>
            <input placeholder="JUAN@HOTMAIL.COM" formControlName="mail">
          </div>

        </div>
        
        <h3 class="h3">2. Datos de Ubicación:</h3>
        
    </div>
</div>