.content{
    background-color: white;
    padding: 30px 0 50px 0;
    height: fit-content;
}
.page{
    width: 55%;
    height: 1000px;
    margin: 0 0 0 340px;
    border-width: 3px;;
    border-style: solid;
}
.title{
    text-align: center;
}
.h3{
    margin-left: 40px;
    margin-top: 4%;;
}
.dataForm{
padding-left: 100px;    
    label{
      width: 40%;
      display: inline-block;
      text-align: left;
      margin-top: 4%;
      margin-right: 40px;
    }
        i{
          font-size: 30px;
          color: rgb(222, 34, 34);
        }
    }

