.title{
    text-align: center;
}
.h3{
    margin-left: 3%;
}
.dataForm{
    padding-left: 7%;  

        label{
        width: 35%;
        display: inline-block;
        text-align: left;
        margin-top: 3%;
        margin-right: 3px;
        }
            i{
            font-size: 30px;
            color: rgb(222, 34, 34);
            }
}
.labeldat{
    color: gray;
}

.page{
    display: flex;
    flex-direction: row;
}
.dataDoc{
    padding-left: 7%;
    label{
        width: 15%;
        display:inline-block;
        text-align: left;
        margin-top: 1%;
    }

}