<div class="title">
  <h1>Solicitud Permiso de Funcionamiento</h1>
</div>

<div class="content">
  <h3>1.Datos de informativos</h3>

  <div class="row">

    <div class="data-content">
      <div class="grid">

        <div class="box">
          <label>Razón Social:</label>
          <label>{{permission.idLocNavigation.razonSocial}}</label>
        </div>

        <div class="box">
          <label>Nombre comercial:</label>
          <label>{{permission.idLocNavigation.nombre}}</label>
        </div>

        <div class="box">
          <label>Representante Legal</label>
          <label>
            {{permission.idLocNavigation.idCliNavigation.nombres 
            + " " +
            permission.idLocNavigation.idCliNavigation.apellidos}}
          </label>
        </div>

        <div class="box">
          <label>Actividad Económica:</label>
          <label>{{permission.actividadEconomica}}</label>
        </div>

        <div class="box">
          <label>Teléfono Móvil:</label>
          <label>{{permission.idLocNavigation.idCliNavigation.telefono}}</label>
        </div>

        <div class="box">
          <label>Correo Electrónico:</label>
          <label>{{permission.idLocNavigation.idCliNavigation.email}}</label>
        </div>

      </div>

    </div>

    <div class="map-content">
      <google-map height="25em"
                  width="48vw"
                  [center]="center"
                  [zoom]="zoom">

        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
                  [position]="markerPosition"
                  [options]="markerOptions"
                  (mapMouseover)="openInfoWindow(marker)">
        </map-marker>

        <map-info-window>
          <div>Latitud: {{lati}}</div>
          <div>Longitud: {{long}}</div>
        </map-info-window>

      </google-map>
    </div>

  </div>

  <div class="row">
    <h3>2.Documentos</h3>
    <div class="doc-content">
      
    </div>
    <div class="actions">
      <button mat-button class="btnBack">Aceptar</button>
      <button mat-button class="btnNext">Rechazar</button>
    </div>
  </div>
</div>


